<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# styling for header %>
    <style>
        body{
          background-color: lightblue;
          font-size:30px;
        }

        .header{
          font-family: sans-serif;
          background-color: black;
          text-align: left;
          margin-bottom: 40px;
          padding: 5px 10px 10px 20px;
          margin-top: 30px;
        }       

        a{  
            color:white;
            text-decoration: none;
            font-size: 20px;
          }
        .logout{
          float:right;
          margin-right:10px;
        }

    </style>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class ="header">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%# render appropriate header based on whether user signed in or out %>
  <%if user_signed_in? %>
    <%= link_to "All tasks", root_path, method: :get%> &nbsp;&nbsp;&nbsp;
    <%= link_to "Search by tags", "/tags" %>
    <div class="logout">
    <%= link_to "logout", destroy_user_session_path, method: :delete%>
    </div>
  <% else %>
  <% end %>
  </header>
  <%# where the react part of the app renders via pages/index %>
    <%= yield %>
  </body>
</html>